.introduction {
  padding-left: 80px;
  position: relative;
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
  }
  &__text {
    background: #201a1aec;
    border: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #ffffffb7, #d53a9d00);
    border-width: 5px;
    box-shadow: inset -5px -5px 20px #0006;
    color: #ffffff;
    max-width: 280px;
    opacity: 0;
    padding: 60px 100px 60px 190px;
    position: relative;
    transform: translateX(80px) translateY(180px);
    -webkit-transform: translateX(80px) translateY(180px);
    -moz-transform: translateX(80px) translateY(180px);
    -ms-transform: translateX(80px) translateY(180px);
    -o-transform: translateX(80px) translateY(180px);
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    &--show {
      opacity: 1;
      transform: translateX(-80px) translateY(80px);
      -webkit-transform: translateX(-80px) translateY(80px);
      -moz-transform: translateX(-80px) translateY(80px);
      -ms-transform: translateX(-80px) translateY(80px);
      -o-transform: translateX(-80px) translateY(80px);
    }
    .text__section {
      font-family: $font-montserrat;
      &--name {
        font-size: 15pt;
        font-style: italic;
        margin-top: 30px;
      }
    }
  }
  &__text-lower {
    background: #201a1aec;
    border: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #ffffffb7, #d53a9d00);
    border-width: 5px;
    box-shadow: inset -5px -5px 20px #0006;
    color: #ffffff;
    margin-top: 250px;
    max-width: 500px;
    opacity: 0;
    padding: 60px 100px 60px 190px;
    position: relative;
    transform: translateX(-80px) translateY(0);
    -webkit-transform: translateX(-80px) translateY(0);
    -moz-transform: translateX(-80px) translateY(0);
    -ms-transform: translateX(-80px) translateY(0);
    -o-transform: translateX(-80px) translateY(0);
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    &--show {
      opacity: 1;
      transform: translateX(0) translateY(0);
      -webkit-transform: translateX(0) translateY(0);
      -moz-transform: translateX(0) translateY(0);
      -ms-transform: translateX(0) translateY(0);
      -o-transform: translateX(0) translateY(0);
    }
    .text__section {
      font-family: $font-montserrat;
      &--name {
        font-size: 15pt;
        font-style: italic;
        margin-top: 30px;
      }
    }
  }
}

.profile {
  &__picture {
    border: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #ffffff, #d53a9d00);
    border-width: 5px;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 53%);
    max-height: 270px;
    max-width: 400px;
    opacity: 0;
    position: relative;
    transform: translateX(-50px) translateY(-100px);
    -webkit-transform: translateX(-50px) translateY(-100px);
    -moz-transform: translateX(-50px) translateY(-100px);
    -ms-transform: translateX(-50px) translateY(-100px);
    -o-transform: translateX(-50px) translateY(-100px);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    width: auto;
    z-index: 1;
    &--show {
      opacity: 1;
      transform: translateX(0px) translateY(0px);
      -webkit-transform: translateX(0px) translateY(0px);
      -moz-transform: translateX(0px) translateY(0px);
      -ms-transform: translateX(0px) translateY(0px);
      -o-transform: translateX(0px) translateY(0px);
    }
  }
}

@media screen and (max-width: 1050px) {
  .introduction {
    &__text {
      max-width: 280px;
      padding: 60px 60px 60px 100px;
    }
    &__text-lower {
      max-width: 280px;
      padding: 60px 60px 60px 100px;
    }
  }
  .profile {
    &__picture {
      max-height: 170px;
      max-width: 200px;
    }
  }
}

@media screen and (max-width: 801px) {
  .introduction {
    padding-left: 10px;
    &__container {
      flex-wrap: nowrap;
    }
    &__text {
      max-width: 280px;
      padding: 50px 40px 40px 80px;
    }
    &__text-lower {
      max-width: 280px;
      padding: 50px 40px 40px 80px;
    }
  }
  .profile {
    &__picture {
      max-height: 130px;
      max-width: 160px;
    }
  }
}

@media screen and (max-width: 501px) {
  .introduction {
    padding-left: 60px;
    &__text {
      font-size: 10px;
      max-width: calc(90% - 40px);
      padding: 60px 40px 40px 20px;
      .text__section {
        max-width: 100%;
      }
    }
    &__text-lower {
      font-size: 12px;
      max-width: calc(80% - 40px);
      padding: 60px 40px 40px 20px;
      .text__section {
        max-width: 100%;
      }
    }
  }
  .profile {
    &__picture {
      max-height: 100px;
      max-width: 140px;
    }
  }
  .text__section--name {
    font-size: 10pt !important;
  }
}
