.page-section {
  min-height: 100vh;
  overflow: hidden;
  padding: 0;
  width: 100%;
  &--main-logo {
    display: flex;
  }
}

@media screen and (max-width: 550px) {
  .page-section {
    min-height: 100vh;
    overflow: hidden;
    padding: 0;
  }
}
